@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
::selection {
    background-color: rgb(94 234 212);
    color: rgb(19 78 74);
}
.active .nav-indicator {
    width: 4rem;
    background-color: rgb(226, 232, 240);
}
.active .nav-text {
    color: rgb(226, 232, 240);
}
